DATABASE_URL=postgresql://user:password@localhost/loadouts
PORT=3000
# Fake key from chatgpt
SECURE_SESSION_KEY=35540347bcf7be7f10baeee6e0ac2ae4fbbaf6eb8aefdcab3b8ad0a7b2786893
COOKIE_SECRET_KEY=supercookiekey
FRONTEND_URL=http://localhost:3001
BACKEND_URL=http://localhost:3000
CORS_ALLOWED_ORIGIN=http://localhost
STEAMAPIS_API_KEY=your_steamapis_api_key
